<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/upay/Documents/Automation/POM_Practice">
        <classes>
            <class name="Test_Scenarios.SearchAndLogin">
                <methods>
                    <include name="searchOperation"/>
                    <include name="accessOrangeHRM"/>
                    <include name="loginOrangeHRM"/>
                    <include name="testAddEmployee"/>
                    <include name="removeEmployeeTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>